@model Reserva.Core.Models.Configuracion

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Configuracion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EspId" class="control-label"></label>
                <input asp-for="EspId" class="form-control" />
                <span asp-validation-for="EspId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FecMinReserva" class="control-label"></label>
                <input asp-for="FecMinReserva" class="form-control" />
                <span asp-validation-for="FecMinReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FecMaxReserva" class="control-label"></label>
                <input asp-for="FecMaxReserva" class="form-control" />
                <span asp-validation-for="FecMaxReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiempMinReserva" class="control-label"></label>
                <input asp-for="TiempMinReserva" class="form-control" />
                <span asp-validation-for="TiempMinReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiempMaxReserva" class="control-label"></label>
                <input asp-for="TiempMaxReserva" class="form-control" />
                <span asp-validation-for="TiempMaxReserva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumMinPersona" class="control-label"></label>
                <input asp-for="NumMinPersona" class="form-control" />
                <span asp-validation-for="NumMinPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumMaxPersona" class="control-label"></label>
                <input asp-for="NumMaxPersona" class="form-control" />
                <span asp-validation-for="NumMaxPersona" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
