@model Reserva.Core.Models.Reservas

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Reservas</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UsuId" class="control-label"></label>
                <select asp-for="UsuId" class ="form-control" asp-items="ViewBag.UsuId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EspId" class="control-label"></label>
                <select asp-for="EspId" class ="form-control" asp-items="ViewBag.EspId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ResFecha" class="control-label"></label>
                <input asp-for="ResFecha" class="form-control" />
                <span asp-validation-for="ResFecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResFechaFin" class="control-label"></label>
                <input asp-for="ResFechaFin" class="form-control" />
                <span asp-validation-for="ResFechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResNumPersonas" class="control-label"></label>
                <input asp-for="ResNumPersonas" class="form-control" />
                <span asp-validation-for="ResNumPersonas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
